<div class="row">
<!-- Login box -->
<div class="col-md-6">
<div class="row">
  <div class="col-md-4">User</div>
  <div class="col-md-8">
    <input ng-model="user">
  </div>
</div>
<div class="row">
  <div class="col-md-4">Password</div>
  <div class="col-md-8">
    <input ng-model="password">
  </div>
</div>
<div class="row">
  <div class="col-md-4">Organization</div>
  <div class="col-md-8">
    <select ng-model="organization" ng-change="auth()">
      <option ng-repeat="org in organizations">{{org.name}}</option>
    </select>

  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <button ng-click="auth()" type="submit" class="btn btn-primary">Login</button>
  </div>
  <div class="col-md-5"></div>
</div>
</div>
<!-- End Login box -->
<!-- User info box -->
<div class="col-md-6">
User info
<ul>
	<li ng-repeat="item in user_data">{{item}}</li>
</ul>
</div>
<!-- End User info box -->
</div>
<div class="row">
<div data-ng-show="auth_result == 'error'" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-ng-click="vm.result = null" aria- hidden="true">&times;</button>
    <strong>Error  !  </strong>{{vm.exception}}
</div>
</div>
<div class="row">
<div data-ng-show="auth_result == 'ok'" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-ng-click="vm.result = null" aria- hidden="true">&times;</button>
    <strong>Login OK  !  </strong>
</div>
</div>
